

body {
  background: linear-gradient(to bottom, #AA3344,#665544);
  height: 2000px;
  width: 1000px;
}
h1 {
  text-align: center;
  font-family: verdana;
  border-style: solid;
  padding: 50px;
  border-width: 20px;
}

.ImageBorder{
  border-width: 20px;
  border-color: silver;
  border-radius: 20%;
  border-style: solid;
}

.outer {
  position: absolute;
  left: 0;
  top: 0;
}
 
.overlay {
  position: absolute;
  top: 350px;
  left: 300px;
  width: 1px;
  word-wrap: break-word;
  color: black;
  Font-family: Lucida Console
}

/* Float the list items side by side */
ul.topnav1 li {float: left;}

/* Style the links inside the list items */
ul.topnav1 li a {
    background-color: #222
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.topnav1 li a:hover {background-color: #555;}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav1 li.icon {display: none;}
.container {
  height: 500px;
  width: 610px;
  position: relative;
]

